name: Test, build, release

on:
  - push

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  hadolint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Analyze Dockerfile
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile

  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    needs:
      - hadolint

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up buildx
        uses: docker/setup-buildx-action@v2

      - name: Prepare kubectl version
        uses: docker/build-push-action@v4
        with:
          context: .
          load: true
          push: false
          tags: localhost:5000/${{ env.IMAGE_NAME }}:latest

      - name: Extract kubectl version
        run: |
          KUBECTL_VERSION="$(docker run --rm "localhost:5000/${{ env.IMAGE_NAME }}:latest" printenv KUBECTL_VERSION)"
          echo "KUBECTL_VERSION=${KUBECTL_VERSION:?}" >> $GITHUB_ENV

      - name: Extract labels and tags
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          flavor: latest=true
          tags: ${{ env.KUBECTL_VERSION }}

      - name: Build image
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: false
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Log in to registry
        if: contains(fromJson('["refs/heads/main", "refs/heads/master"]'), github.ref)
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push image
        if: contains(fromJson('["refs/heads/main", "refs/heads/master"]'), github.ref)
        uses: docker/build-push-action@v4
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
